<launch>
    <arg name="bt_xml_path" />
    <arg name="bt_tick_rate" default="20.0" />
    <arg name="heartbeat_rate" default="20.0" />
    <arg name="run_mavros" default="false" />
    <arg name="run_localization" default="false" />

    <include if="$(arg run_mavros)"
             file="$(find tutorial_basic)/launch/mavros.launch" />

    <include if="$(arg run_localization)"
             file="$(find tutorial_navigation)/launch/mid360.launch" />

    <node pkg="maxt_pkg"
          type="maxt_test_node"
          name="maxt_test_node"
          output="screen">
        <param name="bt_xml_path" value="$(arg bt_xml_path)" />
        <param name="bt_tick_rate" value="$(arg bt_tick_rate)" />
        <param name="heartbeat_rate" value="$(arg heartbeat_rate)" />
    </node>
</launch>
