<launch>
    <arg name="run_mavros" default="false" />
    <arg name="run_localization" default="false" />

    <include file="$(find maxt_pkg)/launch/mission.launch">
        <arg name="bt_xml_path"
             value="$(find maxt_pkg)/config/mission/example/round.xml" />
        <arg name="run_mavros" value="$(arg run_mavros)" />
        <arg name="run_localization" value="$(arg run_localization)" />
    </include>
</launch>
